@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
    background-color: rgb(92, 181, 172);
}

/*--game heading and hamburger menu--*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
}

header>#menu {
    width: 150px;
    min-height: 150px;
    position: absolute;
    background-color: whitesmoke;
    top: 80px;
    right: 10px;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
}

#menu ul {
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 10px;

}

#hamburger-icon {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

a {
    color: black;
    text-decoration: none;
    padding-right: 15px;
}

a:hover {
    text-decoration: underline;
    background-color: transparent;
}

/*--main image styling--*/

.main-content {
    background: url(../images/background-image.webp) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*--styling for score keeping boxes--*/

.combatants-score {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.scores {
    margin: 50px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 20px;
}

/*--styling for boxes containing user and bot avatars--*/

.combatants-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#bot {
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#player {
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 10px;
}

/*--versus appreviation between avatar boxes--*/

#vs {
    margin: 35px;
    font-size: 1rem;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
}

/*--box to display winner turns and eventual overall winner--*/

.winner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    min-height: 60px;
}

#outcome {
    font-size: 15px;
}

/*--game selection options for rock, paper, scissors, lizard, spock--*/

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding-bottom: 60px;
}

#options button {
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.option-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 2px solid black;
}

#rock {
    background: url(../images/rock.option.webp);
    background-size: cover;
    background-color: blue;
}

#paper {
    background: url(../images/paper.option.webp);
    background-size: cover;
    background-color: blue;
}

#scissors {
    background: url(../images/scissors.option.webp);
    background-size: cover;
    background-color: blue;
}

#lizard {
    background: url(../images/lizard.option.webp);
    background-size: cover;
    background-color: blue;
}

#spock {
    background: url(../images/spock.option.webp);
    background-size: cover;
    background-color: blue;
}

/*--rules page--*/

.gameplay {
    min-height: 81vh;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 30px;
}

.rules-list {
    font-size: 25px;
    line-height: 35px;
    padding-top: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
}

/*--footer and copyright--*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 30px;
}


@media screen and (max-width: 568px) {

    .scores {
        font-size: 15px;
    }

    #options {
        flex-wrap: wrap;


    }

    #options button {
        height: 65px;
        width: 65px;
    }

    #bot,
    #player {
        height: 100px;
        width: 100px;
    }

    #vs {
        margin: 10px;
        font-size: .70rem;
    }

    .winner-box {
        width: 150px;
        height: 30px
    }


}

@media screen and (min-width: 569px) {

    #options button {
        height: 80px;
        width: 80px;
    }
}

@media screen and (min-width: 769px) {

    #options button {
        height: 100px;
        width: 100px;
    }
}