@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    color: black;
    font-family: lato, sans-serif;
    font-weight: 300;
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header>#menu {
    width: 150px;
    min-height: 150px;
    position: absolute;
    background-color: blue;
    top: 80px;
    right: 10px;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center
}

#menu ul {
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;

}

#hamburger-icon {
    width: 80px;
    height: 80px;
}

.main-content {
    background-color: lightblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.combatants-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    margin: 50px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.combatants-zone {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bot {
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    border-radius: 10px;
}

#player {
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    border-radius: 10px;
}

#vs {
    margin: 35px;
    font-size: 1rem;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

#options button {
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.option-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rock {
    background: url(../images/rock.icon.jpg);
    background-size: cover;
    background-color: blue;
}

#paper {
    background: url(../images/paper.icon.jpg);
    background-size: cover;
    background-color: blue;
}

#scissors {
    background: url(../images/scissors.icon.jpg);
    background-size: cover;
    background-color: blue;
}

#lizard {
    background: url(../images/lizard.icon.jpg);
    background-size: cover;
    background-color: blue;
}

#spock {
    background: url(../images/spock.jpg);
    background-size: cover;
    background-color: blue;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 30px;
}